.item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    height: auto;
}

.item mat-icon {
    margin: 0;
    font-size: 80px;
}

.item div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.item div span:first-child {
    padding: 1rem 0;
}

.item div span:first-child {
    font-size: 22px;
}

.item div span:last-child {
    font-size: 27px;
    margin-bottom: 1rem;
}