<section class="title">
    <span><mat-icon>masks</mat-icon> Plantões</span>
</section>
<section class="content">
    <mat-accordion>

        <mat-expansion-panel>

            <mat-expansion-panel-header>
                <mat-panel-title>
                16/03 (8:00) - HOSPITAL JULIO MÜLLER
                </mat-panel-title>
                <mat-panel-description>
                <span><mat-icon>watch_later</mat-icon> Agendado</span>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-tab-group mat-align-tabs="center" [dynamicHeight]="true">
                <mat-tab>
                  <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">medical_information</mat-icon>
                    Informações Gerais
                  </ng-template>
                  
                  <div class="info">
                    <div>
                      <div class="item">
                        <span>Data:</span>
                        <span>13/03/2022</span>
                      </div>
                      <div class="item">
                        <span>Inicio:</span>
                        <span>7:00</span>
                      </div>
                      <div class="item">
                        <span>Duração:</span>
                        <span>12h</span>
                      </div>
                    </div>
                    <div>
                      <div class="item">
                        <span>Tipo:</span>
                        <span>Enfermaria</span>
                      </div>
                      <div class="item">
                        <span>Outros</span>
                        <span>teste</span>
                      </div>
                    </div>
                    <div>
                      <div class="item">
                        <span>Local:</span>
                        <span>Hospital Metropolitano de Cuiabá</span>
                      </div>
                      <div class="item">
                        <span>Empresa:</span>
                        <span>Promed serviços em medicina especializada ltda</span>
                      </div>
                      <div class="item">
                        <span>Valor:</span>
                        <span>R$ 2.300,00</span>
                      </div>
                    </div>
                  </div>

                </mat-tab>
              
                <mat-tab>
                  <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">monetization_on</mat-icon>
                    Informações financeiras
                  </ng-template>
                  <div>
                    <ngx-charts-pie-chart
                        [view]="view"
                        [scheme]="colorScheme"
                        [results]="single"
                        [gradient]="gradient"
                        [legendPosition]="legendPosition"
                        [legend]="showLegend"
                        [doughnut]="isDoughnut"
                        (select)="onSelect($event)"
                        (activate)="onActivate($event)"
                        (deactivate)="onDeactivate($event)"
                        legendTitle="Legenda"
                    >
                    </ngx-charts-pie-chart>
                  </div>
                </mat-tab>
                
            </mat-tab-group>
              
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                16/03 (8:00) - HOSPITAL METROPOLITANO DE CUIABÁ
                </mat-panel-title>
                <mat-panel-description>
                <span><mat-icon>check</mat-icon> Nota solicitada</span>
                <span style="margin-left: 1.5rem;"><mat-icon>check</mat-icon> Plantão pago</span>
                </mat-panel-description>
            </mat-expansion-panel-header>
            
            <div class="col2">
              <div>
                <div class="col3">
                  <div class="item">
                    <span>Data:</span>
                    <span>13/03/2022</span>
                  </div>
                  <div class="item">
                    <span>Inicio:</span>
                    <span>7:00</span>
                  </div>
                  <div class="item">
                    <span>Duração:</span>
                    <span>12h</span>
                  </div>
                </div>
                <div class="col2">
                  <div class="item">
                    <span>Tipo:</span>
                    <span>Enfermaria</span>
                  </div>
                  <div class="item">
                    <span>Outros</span>
                    <span>teste</span>
                  </div>
                </div>
                <div class="item">
                  <span>Local:</span>
                  <span>Hospital Metropolitano de Cuiabá</span>
                </div>
                <div class="item">
                  <span>Empresa:</span>
                  <span>Promed serviços em medicina especializada ltda</span>
                </div>
                <div class="item">
                  <span>Valor:</span>
                  <span>R$ 2.300,00</span>
                </div>

              </div>
              <div>
                <ngx-charts-pie-chart
                  [view]="view"
                  [scheme]="colorScheme"
                  [results]="single"
                  [gradient]="gradient"
                  [legend]="showLegend"
                  [legendPosition]="legendPosition"
                  [doughnut]="isDoughnut"
                  (select)="onSelect($event)"
                  (activate)="onActivate($event)"
                  (deactivate)="onDeactivate($event)"
                  legendTitle="Legenda"
                >
                </ngx-charts-pie-chart>
              </div>

              <div class="bottom">
                <button mat-flat-button color="warn">
                  <mat-icon>close</mat-icon>
                  Remover plantão
                </button>
                <button mat-flat-button color="accent">
                  <mat-icon>attach_file</mat-icon>
                  Ver anexos
                </button>
              </div>
            </div>

        </mat-expansion-panel>

    </mat-accordion>
</section>