.taxes-plantao {
    z-index: 1000;
  }
  
  .taxes-plantao .info {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  
  .taxes-plantao .info span {
    padding-left: 10px;
  }
  
  .taxes-plantao div {
    display: flex;
    justify-content: center;
  }

  .taxes-plantao div.add {
    display: flex;
    justify-content: flex-end;
  }
  
  .taxes-plantao div.button {
    display: flex;
    justify-content: space-between;
  }
  
  .taxes-plantao div.datetime {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }
  
  .taxes-plantao div.button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .taxes-plantao div button mat-icon {
    vertical-align: -7px;
  }
  
  .taxes-plantao div .close {
    background-color: rgb(240, 150, 150);
  }
  
  .taxes-plantao div .new {
    background-color: rgb(150, 240, 150);
  }
  