<section class="content">
    <mat-card>
        <div>
            <mat-card-title>JORGE HENRIQUE MONTEIRO</mat-card-title>
            <mat-card-subtitle>dev.henrmont@gmail.com</mat-card-subtitle>
        </div>
        <div class="right">
            <span>(65) 99236-8175</span>
        </div>
        <div class="right">
            <mat-card-actions>
              <button mat-flat-button color="warn">Remover</button>
            </mat-card-actions>
        </div>
    </mat-card>
    <mat-card>
        <div>
            <mat-card-title>JORGE HENRIQUE MONTEIRO</mat-card-title>
            <mat-card-subtitle>dev.henrmont@gmail.com</mat-card-subtitle>
        </div>
        <div class="right">
            <span>(65) 99236-8175</span>
        </div>
        <div class="right">
            <mat-card-actions>
              <button mat-flat-button color="warn">Remover</button>
            </mat-card-actions>
        </div>
    </mat-card>
</section>

<!-- <mat-list role="list">
    <mat-list-item role="listitem">
        <span>J</span>
        <span></span>
        <span>dev.henrmont@gmail.com</span>
        <button mat-flat-button color="accent">
            Remover
        </button>
    </mat-list-item>
    <mat-list-item role="listitem">Item 2</mat-list-item>
    <mat-list-item role="listitem">Item 3</mat-list-item>
</mat-list> -->
  
