.edit-taxes-plantao {
    z-index: 1000;
}

.edit-taxes-plantao div {
    display: flex;
    justify-content: center;
}

.edit-taxes-plantao form {
    display: flex;
    flex-direction: column;
}

.edit-taxes-plantao form div {
    display: flex;
    justify-content: space-between;
}

.edit-taxes-plantao form div.cols2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.edit-taxes-plantao form div.datetime {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 10px;
}

.edit-taxes-plantao form div button mat-icon {
    vertical-align: -7px;
}

.edit-taxes-plantao form div .close {
    background-color: rgb(240, 150, 150);
}

.edit-taxes-plantao form div .add {
    background-color: rgb(150, 240, 150);
}