<div class="new-taxes-plantao">
    <div>
        <h2>Novo imposto</h2>
    </div>
    <form #form="ngForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nome do imposto</mat-label>
            <input matInput [(ngModel)]="imposto.name" name="name" required>
        </mat-form-field>
        <div class="cols2">
            <mat-form-field class="example-full-width" appearance="fill" required>
                <mat-label>Tipo de desconto</mat-label>
                <mat-select [(ngModel)]="imposto.type" name="type">
                    <mat-option *ngFor="let type of types" [value]="type.value">
                        {{type.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Valor</mat-label>
                <input matInput [(ngModel)]="imposto.value" name="value" required>
            </mat-form-field>
        </div>
        <div>
            <button mat-raised-button type="button" (click)="close()" class="close">
                <mat-icon>close</mat-icon>
                Fechar
            </button>
            <button mat-raised-button type="submit" class="add" [disabled]="form.form.invalid">
                <mat-icon>add</mat-icon>
                Registrar imposto
            </button>
        </div>
    </form>
</div>
