.edit-plantao {
  z-index: 1000;
}

.edit-plantao div {
  display: flex;
  justify-content: center;
}

.edit-plantao form {
  display: flex;
  flex-direction: column;
}

.edit-plantao form div {
  display: flex;
  justify-content: space-between;
}

.edit-plantao form div.cols2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.edit-plantao form div.datetime {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 10px;
}

.edit-plantao form div button mat-icon {
  vertical-align: -7px;
}

.edit-plantao form div .close {
  background-color: rgb(240, 150, 150);
}

.edit-plantao form div .add {
  background-color: rgb(150, 240, 150);
}
