
<h2>Administração</h2>
<section class="admin">
    <div class="menu">
        <mat-list role="list">
            <mat-list-item role="listitem">
                <button mat-button routerLink="/admin/dashboard"><mat-icon>bar_chart</mat-icon>Dashboard</button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button mat-button routerLink="/admin/fatura"><mat-icon>request_quote</mat-icon>Faturas</button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button mat-button routerLink="/admin/plantao"><mat-icon>masks</mat-icon>Plantões</button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button mat-button routerLink="/admin/users"><mat-icon>manage_accounts</mat-icon>Usuários</button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button mat-button routerLink="/admin/inscricao"><mat-icon>newspaper</mat-icon>Inscrições</button>
            </mat-list-item>
        </mat-list>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</section>