<section class="resource">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Buscar</mat-label>
        <input matInput>
    </mat-form-field>
<div>
    <button mat-flat-button color="accent" (click)="newPlantao()">
        <mat-icon>add</mat-icon>
        Novo plantão
    </button>
</div>
</section>
<section class="content">
    <mat-accordion>
        
        <mat-expansion-panel *ngFor="let item of plantoes">
          <mat-expansion-panel-header>
            <mat-panel-title>
              ({{item.startAt|date: 'dd/MM/YYYY'}}) 
              <span *ngIf="item.user" style="margin-left: 1rem;">{{item.user}}</span> 
              <span *ngIf="!item.user" style="margin-left: 1rem; color: blue">DISPONÍVEL NO PEGA PLANTÃO</span> 
            </mat-panel-title>
            <mat-panel-description>
            <span *ngIf="item.isValid" style="color: green;"><mat-icon>check</mat-icon>Valido</span>
            <span *ngIf="!item.isValid" style="color: red;"><mat-icon>close</mat-icon>Inválido</span>
            </mat-panel-description>
          </mat-expansion-panel-header>
          
          <div class="info">
            <div>
              <div class="item">
                <span>Data:</span>
                <span>{{item.startAt|date: 'dd/MM/YYYY'}}</span>
              </div>
              <div class="item">
                <span>Inicio:</span>
                <span>{{item.startAt|date: 'HH:mm'}}</span>
              </div>
              <div class="item">
                <span>Duração:</span>
                <span>{{item.duration}}h</span>
              </div>
            </div>
            <div>
              <div class="item">
                <span>Tipo:</span>
                <span>{{item.type}}</span>
              </div>
              <div *ngIf="item.other" class="item">
                <span>Outros</span>
                <span>{{item.other}}</span>
              </div>
            </div>
            <div>
              <div class="item">
                <span>Local:</span>
                <span>{{item.local}}</span>
              </div>
              <div class="item">
                <span>Empresa:</span>
                <span>{{item.company}}</span>
              </div>
              <div class="item">
                <span>Valor:</span>
                <span>{{item.value| currency:'BRL':true:'1.2-2' }}</span>
              </div>
            </div>
          </div>
          <div class="info" style="border-top: 1px solid rgb(150,150,150);">
            <div>
              <div class="item">
                <span>Nota:</span>
                <span *ngIf="item.note == false" style="color: red;">Nota não emitida</span>
                <span *ngIf="item.note == true" style="color: green;">Nota emitida</span>
                <span *ngIf="item.note == null">Sem nota</span>
              </div>
            </div>
            <div></div>
            <div>
              <div class="item">
                <span>Pagamento:</span>
                <span *ngIf="item.payment" style="color: green;">Plantão pago</span>
                <span *ngIf="!item.payment" style="color: red;">Pagamento pendente</span>
              </div>
            </div>
          </div>
          <div class="buttons">
            <button mat-flat-button color="accent" (click)="editPlantao(item.id)">
              Editar
            </button>
            <button mat-flat-button color="warn" (click)="deletePlantao(item.id)">
              Excluir
            </button>
            <button mat-flat-button color="accent" (click)="taxesPlantao(item.id)">
              Valores
            </button>
            <button mat-flat-button color="accent" (click)="statusPlantao(item.id)">
              Status
            </button>
            <button mat-flat-button color="accent" (click)="attachPlantao(item.id)">
              Anexos
            </button>
            <button mat-flat-button *ngIf="item.isValid" color="warn" (click)="validatePlantao(item.id)">
              Invalidar
            </button>
            <button mat-flat-button *ngIf="!item.isValid" color="accent" (click)="validatePlantao(item.id)">
              Validar
            </button>
          </div>

        </mat-expansion-panel>
    

      
  
    </mat-accordion>

</section>
