.block {
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.block:first-child {
    margin-top: 0;
}

.block span.title {
    font-size: 25px;
    font-family: 'Mukta', sans-serif;
}

.block div.photo {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.block div.photo button {
    width: 20%;
}

.block div.photo img {
    width: 150px;
}

.block div.info {
    width: 90%;
    padding: 0 5%;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    justify-content: center;
    align-items: flex-start;
}

.block div.info mat-form-field {
    width: 100%;
}