<form #form="ngForm" class="block">
    <div>
        <span class="title">
            Alterar senha
        </span>
        <div class="info">
            <mat-form-field appearance="outline">
                <mat-label>Nova senha</mat-label>
                <input matInput [(ngModel)]="npassword" name="npassword" type="password">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Repetir senha</mat-label>
                <input matInput [(ngModel)]="ncpassword" name="ncpassword" type="password">
            </mat-form-field>
        </div>
    </div>

    <div class="btns">
        <button mat-flat-button color="accent" (click)="onSubmit()">
            <mat-icon>check</mat-icon>
            Atualizar
        </button>
    </div>
</form>

