<h2>Configurações</h2>
<section class="admin">
    <div class="menu">
        <mat-list role="list">
            <mat-list-item role="listitem">
                <button mat-button routerLink="/settings/profile"><mat-icon>person_outline</mat-icon>Perfil</button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button mat-button><mat-icon>password</mat-icon>Alterar senha</button>
            </mat-list-item>
        </mat-list>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</section>