<header>
  <mat-toolbar class="mat-elevation-z2">
    <a href="#boas-vindas" class="img"><img src="assets/balpas.png"></a>
    <ul>
      <li><a href="#inscreva-se">Inscreva-se</a></li>
      <li><a href="#sobre">Sobre</a></li>
      <li><a href="#servicos">Produtos & Serviços</a></li>
      <li><a href="#planos">Planos</a></li>
      <li><a href="#footer">Parceiros</a></li>
    </ul>
  </mat-toolbar>
</header>

<a href="https://api.whatsapp.com/send?phone=556581758750" target="_blank" id="btnwpp"><img src="assets/img/btnwpp.png"></a>

<section class="boas-vindas" id="boas-vindas">
  <div>
    <span>Cuidamos da burocracia para você focar no que é <span style="color: rgb(40, 43, 98);">mais importante</span></span>
  </div>
</section>

<section class="inscreva-se mat-elevation-z2" id="inscreva-se">
  <div class="center mat-elevation-z4">
      <h1>Inscreva-se agora e receba as novidades da Balpas no seu email.</h1>
      <button class="mat-elevation-z3" (click)="inscricao()">Inscreva-se agora</button>
  </div>
</section>

<section class="sobre" id="sobre">
  <div class="title" >
    <h1>Sobre a balpas</h1>
    <div></div>
  </div>
  <div class="content">
    <div></div>
    <div class="text">
      <p>A BALPAS nasceu em 2020 da visão de três amigos que, ao saírem da faculdade - formados e cheios de disposição para começarem suas carreiras - perceberam que ainda precisavam de muito para ter a estrutura necessária e segurança em suas práticas médicas. O que se notou é que a Faculdade não prepara seus alunos para o Mercado de Trabalho, para os Negócios da Saúde ou para a Administração de Finanças. Então, a BALPAS nasceu para suprir tudo aquilo que o médico precisa se quer dar seus primeiros passos com confiança.</p>
      <p>Somos, portanto, uma empresa disposta a estar ao seu lado em todas as áreas da sua vida como médico. Estaremos aqui para te mostrar o caminho e te dar as possibilidades de aprender tudo o que precisa para trilhar o caminho de uma carreira de sucesso, oferecendo uma estrutura sem igual para o seu desenvolvimento profissional. Com a BALPAS você terá a melhor e maior equipe do ramo e nunca mais vai se preocupar com Contabilidade, Direto Médico, Contratos, Finanças e Investimento, Organização de Agendas e tantas outras coisas que antes consumiam seu tempo.</p>
    </div>
  </div>
</section>

<section class="servicos">
  <div class="numeros">
    <div>
      <div>
        <h2>5 ESTADOS</h2>
        <p>Em menos de um ano, a BALPAS já atende médicos em 5 estados.</p>
        <h2>3.000.000,00</h2>
        <p>Em 2021 a BALPAS fez a gestão de mais de três milhões de reais em Notas Fiscais emitidas, garantindo pagamentos e organizando o fluxo financeiro para dezenas de médicos.</p>
      </div>
      <div>
        <h2>CONTRATOS</h2>
        <p>A BALPAS te oferece plantões próprios, mantendo contrato com prefeituras ou empresas gestoras em 6 cidades.</p>
        <ul class="locais">
          <li>Cuiabá - MT</li>
          <li>Rosário Oeste - MT</li>
          <li>Nobres - MT</li>
          <li>Diamantino - MT</li>
          <li>Alto Paraguai - MT</li>
          <li>São José do Povo - MT</li>
        </ul>
      </div>
    </div>
    <div class="img">
      <img src="assets/img/mapa.png" class="mapa">
    </div>
  </div>

  <div id="servicos" style="padding-top: 5rem;"></div>
  <div class="title" >
    <h1>Produtos & Serviços</h1>
    <div></div>
  </div>
  <div class="content3">
    <div>
      <div><mat-icon>account_balance</mat-icon></div>
      <div>
        <h2>Contabilidade</h2>
        <ul class="serv">
          <li>Abertura de PJ Individual;</li>
          <li>Contabilidade de Pessoa Física;</li>
          <li>Contabilidade de Pessoa Jurídica;</li>
          <li>Emissão de Notas;</li>
          <li>Aplicativo exclusivo para acompanhar o balanço financeiro e contábil.</li>
        </ul>
      </div>
    </div>
    <div>
      <div><mat-icon>balance</mat-icon></div>
      <div>
        <h2>Assessoria Jurídica</h2>
        <ul class="serv">
          <li>Consultoria jurídica;</li>
          <li>Defesa cível, penal e no CRM;</li>
          <li>Revisão de Contratos;</li>
          <li>Revisão de Prontuários.</li>
        </ul>
      </div>
    </div>
    <div>
      <div><mat-icon>description</mat-icon></div>
      <div>
        <h2>Gestão de Contratos</h2>
        <ul class="serv">
          <li>Gestão de RH;</li>
          <li>Cobranças e fiscalização.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="content2">
    <div>
      <div><mat-icon>paid</mat-icon></div>
      <div>
        <h2>Assessoria financeira e patrimonial</h2>
        <ul class="serv">
          <li>Organização Financeira e Gestão Patrimonial;</li>
          <li>Assessoria de Investimentos;</li>
          <li>Seguros Médicos.</li>
        </ul>
      </div>
    </div>
    <div>
      <div><mat-icon>medical_services</mat-icon></div>
      <div>
        <h2>Gestão de agenda e de plantões</h2>
        <ul class="serv">
          <li>Agenda de Plantões;</li>
          <li>DashBoard Financeiro e Contábil;</li>
          <li>Sistema de Troca de Plantões;</li>
          <li>Acesso Rápido à Assessoria Jurídica;</li>
          <li>Acesso às Notas Fiscais e a outros documentos dos Plantões.</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="planos" id="planos">
  <div class="title">
    <h1>Planos</h1>
    <div></div>
  </div>
  <div class="content">
    <div class="mat-elevation-z8 item">
      <div class="top">
        <h1>Plano</h1>
        <img src="assets/balpas.png">
        <span class="residente">Residente</span>
      </div>
      <div class="mid">
        <span>Assessoria Contábil PJ e PF</span>
        <span>Assessoria Jurídica</span>
        <span>Assessoria Financeira</span>
        <span>Gestão de Plantões</span>
        <span>Acesso irrestrito ao Aplicativo BALPAS (em breve)</span>
        <span style="color: blue">50% de desconto no mês que não receber plantões </span>
        <span style="color: blue">Necessário comprovar matricula</span>
      </div>
      <div class="bot">
        <p>R$ 320.00 <span>/mês</span></p>
        <button mat-flat-button color="primary">
          Assinar esse plano
        </button>
      </div>
    </div>
    <div class="mat-elevation-z8 item">
      <div class="top">
        <h1>Plano</h1>
        <img src="assets/balpas.png">
        <!-- <span class="residente">Residente</span> -->
      </div>
      <div class="mid">
        <span>Assessoria Contábil PJ e PF</span>
        <span>Assessoria Jurídica</span>
        <span>Assessoria Financeira</span>
        <span>Gestão de Plantões</span>
        <span>Acesso irrestrito ao Aplicativo BALPAS (em breve)</span>
        <!-- <span style="color: blue">50% de desconto no mês que não receber plantões </span>
        <span style="color: blue">Necessário comprovar matricula</span> -->
      </div>
      <div class="bot">
        <p>R$ 380.00 <span>/mês</span></p>
        <button mat-flat-button color="primary">
          Assinar esse plano
        </button>
      </div>
    </div>
    <div class="mat-elevation-z8 item">
      <div class="top">
        <h1>Abertura de PJ</h1>
        <!-- <img src="assets/balpas.png"> -->
        <!-- <span class="residente">Residente</span> -->
      </div>
      <div class="mid">
        <span style="font-size: 20px; line-height: 2rem;">Abra sua PJ Individual com a BALPAS, mantendo toda a Assessoria e a melhor equipe Contábil à sua disposição.</span>
      </div>
      <div class="bot">
        <p>R$ 550.00 <span>/mês</span></p>
        <button mat-flat-button color="primary">
          Comece agora
        </button>
      </div>
    </div>
    <!-- <div>
      <h1>Plano</h1>
      <img src="assets/balpas.png">
      <span class="residente">Residente</span>
      <p>R$ 320.00 <span>/mês</span></p>
      <div>
        <span>Assessoria Contábil PJ e PF</span>
        <span>Assessoria Jurídica</span>
        <span>Assessoria Financeira</span>
        <span>Gestão de Plantões</span>
        <span>Acesso irrestrito ao Aplicativo BALPAS (em breve)</span>
        <span style="color: red">50% de desconto no mês que não receber plantões </span>
        <span style="color: red">Necessário comprovar matricula</span>
      </div>
      <a href="#" class="mat-elevation-z3">Assinar esse plano</a>
    </div>
    <div>
      <h1>Plano</h1>
      <img src="assets/balpas.png">
      <p>R$ 380.00 <span>/mês</span></p>
      <div>
        <span>Assessoria Contábil PJ e PF</span>
        <span>Assessoria Jurídica</span>
        <span>Assessoria Financeira</span>
        <span>Gestão de Plantões</span>
        <span>Acesso irrestrito ao Aplicativo BALPAS (em breve)</span>
      </div>
      <a href="#" class="mat-elevation-z3">Assinar esse plano</a>
    </div>
    <div class="menor">
      <h1>Abertura de PJ</h1>
      <p>R$ 550.00</p>
      <div>
        <span style="line-height: 1.5rem;">Abra sua PJ Individual com a BALPAS, mantendo toda a Assessoria e a melhor equipe Contábil à sua disposição.</span>
      </div>
      <a href="#" class="mat-elevation-z3">Comece agora</a>
    </div> -->
  </div>
</section>

<section class="footer" id="footer">
  <div class="title">
    <h1>Parceiros</h1>
    <div></div>
  </div>
  <div class="content">
    <div class="partner">
      <img src="assets/img/01.png">
      <img src="assets/img/02.png">
      <img src="assets/img/03.png">
      <img src="assets/img/04.png">
      <img src="assets/img/05.png">
      <img src="assets/img/06.png">
    </div>
    <div class="subscribe">
      <div>
        <h1>Você deseja receber as novidades da Balpas no seu email?</h1>
        <button class="mat-elevation-z3" (click)="inscricao()">Inscreva-se agora</button>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="map">
    <div>
      <h2>Mapa do site</h2>
      <ul>
        <li><a href="#boas-vindas">Início</a></li>
        <li><a href="#inscreva-se">Inscreva-se</a></li>
        <li><a href="#sobre">Sobre a balpas</a></li>
        <li><a href="#servicos">Serviços</a></li>
        <li><a href="#planos">Planos</a></li>
        <li><a href="#footer">Parceiros</a></li>
      </ul>
    </div>
    <div>
      <h2>Políticas</h2>
      <ul>
        <li><a href="#">Termo de uso</a></li>
        <li><a href="#">Política de privacidade</a></li>
        <li><a href="#">Política de cookies</a></li>
      </ul>
    </div>
    <div>
      <img src="assets/logobranca.png">
      <span><mat-icon>home</mat-icon>Rua das Dalias, 510, Sala 05</span>
      <span><mat-icon>location_on</mat-icon>Jardim Cuiabá, Cuiabá-MT, 78043-152</span>
      <span><mat-icon>call</mat-icon>(65) 9 8175-8750</span>
      <span><mat-icon>email</mat-icon>balpasmed@gmail.com</span>
      <div class="social">
        <a href="https://www.facebook.com/balpasmed/" target="_blank"><fa-icon [icon]="faFacebook"></fa-icon></a>
        <a href="https://www.instagram.com/balpasmed/?hl=pt-br" target="_blank"><fa-icon [icon]="faInstagram"></fa-icon></a>
        <a href="https://api.whatsapp.com/send?phone=556581758750" target="_blank"><fa-icon [icon]="faWhatsapp"></fa-icon></a>
      </div>
    </div>
  </div>
  <div class="copyright">
    <span>&#169; Copyright 2022 - Todos os direitos reservados</span>
    <span>Desenvolvido por Adriano Colombo / Jorge Monteiro</span>
  </div>
</footer>