<header>
    <mat-toolbar class="mat-elevation-z4" color="primary">
        <div class="vertical">
            <button mat-icon-button (click)="onToggleSidenav()" class="rbutton">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <div>
            <ul class="navigation-items">
                <li>
                    <button mat-button routerLink="/inicio">
                        <mat-icon>home</mat-icon>
                        Início
                    </button>
                </li>
                <li>
                    <button mat-button routerLink="/agenda">
                        <mat-icon>today</mat-icon>
                        Agenda
                    </button>
                </li>
                <li>
                    <button mat-button routerLink="/plantao">
                        <mat-icon>masks</mat-icon>
                        Plantões
                    </button>
                </li>
                <li>
                    <button mat-button routerLink="/fatura">
                        <mat-icon>request_page</mat-icon>
                        Faturas
                    </button>
                </li>
                <li>
                  <button mat-button routerLink="/pega/plantao">
                    <mat-icon>medical_services</mat-icon>
                    Pega Plantão
                  </button>
                </li>
                <!-- <li>
                  <button mat-button routerLink="pega/plantao" disabled>
                    <mat-icon>gavel</mat-icon>
                    Assessoria Jurídica
                  </button>
                </li> -->
            </ul>
        </div>
        <div class="avatar">
          <ul class="navigation-items">
            <li>
              <button mat-button class="button" [matMenuTriggerFor]="menu">
                <img src="assets/img/profile.png" class="mat-elevation-z4">
                <div class="user">
                  <span>Maria Tereza</span>
                  <span>matereza@gmail.com</span>
                </div>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/settings">
                  <mat-icon>settings</mat-icon>
                  <span>Configurações</span>
                </button>
                <button mat-menu-item disabled>
                  <mat-icon>gavel</mat-icon>
                  <span>Assessoria Jurídica</span>
                </button>
                <button mat-menu-item routerLink="/doc">
                  <mat-icon>info</mat-icon>
                  <span>Documentação do sistema</span>
                </button>
                <button mat-menu-item class="admin" routerLink="/admin">
                  <mat-icon>admin_panel_settings</mat-icon>
                  <span>Administrar</span>
                </button>
                <button mat-menu-item routerLink="/logout">
                  <mat-icon>exit_to_app</mat-icon>
                  <span>Sair</span>
                </button>
              </mat-menu>
            </li>
          </ul>
        </div>
        <div>
            <span>
                <img src="assets/balpas.png">
            </span>
        </div>
    </mat-toolbar>
</header>

