<section class="title">
    <span><mat-icon>request_page</mat-icon> Faturas</span>
</section>
<section class="content">
    <mat-card>
        <div>
            <mat-card-title>Fatura (ref. Dezembro 2021)</mat-card-title>
            <mat-card-subtitle>Vencimento 05/12</mat-card-subtitle>
        </div>
        <div class="right">
            <span><mat-icon>check</mat-icon> Fatura paga</span>
        </div>
        <div class="right">
            <mat-card-actions>
              <button mat-flat-button color="accent">VER FATURA</button>
            </mat-card-actions>
        </div>
    </mat-card>
    <mat-card>
        <div>
            <mat-card-title>Fatura (ref. Dezembro 2021)</mat-card-title>
            <mat-card-subtitle>Vencimento 05/12</mat-card-subtitle>
        </div>
        <div class="right">
            <span><mat-icon>check</mat-icon> Fatura paga</span>
        </div>
        <div class="right">
            <mat-card-actions>
              <button mat-flat-button color="accent">VER FATURA</button>
            </mat-card-actions>
        </div>
    </mat-card>
</section>
