.block {
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.block:first-child {
    margin-top: 0;
}

.block span.title {
    font-size: 25px;
    font-family: 'Mukta', sans-serif;
}

.block div.photo {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.block div.photo button {
    width: 20%;
}

.block div.photo img {
    width: 150px;
}

.block div.info {
    width: 90%;
    padding: 0 5%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.block div.info mat-form-field {
    width: 100%;
}

.block div.info div {
    width: 100%;
    padding-top: .5rem;
    font-family: 'Titillium Web', sans-serif;
    font-size: 17px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

div.btns {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
}

div.btns button {
    background-color: rgb(150, 255, 150);
    color: rgb(50,50,50);
}

div.btns button mat-icon {
    vertical-align: -5px;
    margin-right: 1rem;
}

.file-input {
    display: none;
}

