<!-- <div class="resource">
    <div>
        <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>
    </div>
    <div>
        <app-new-plantao-btn></app-new-plantao-btn>
    </div>
</div> -->
<div>
  <mat-accordion class="headers-align">
    <mat-expansion-panel *ngFor="let item of data">
      <mat-expansion-panel-header class="right-aligned-header">
        <mat-panel-title>
          {{item.inicio|date: 'dd/MM/YYYY'}} - {{item.local}}
        </mat-panel-title>
        <mat-panel-description>
          <div *ngIf="beforeStartDate(item.inicio); then thenBefore else elseBefore"></div>
          <ng-template #thenBefore>
            <div>
              <mat-icon>schedule</mat-icon>
              Agendado
            </div>
          </ng-template>
          <ng-template #elseBefore>
            <div class="finish">
              <mat-icon>done</mat-icon>
              Executado
            </div>
          </ng-template>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="content">
        <!-- 1st row -->
        <div>
          <h3>Início</h3>
          <span>{{item.inicio|date: 'HH:ss'}}</span>
        </div>
        <div>
          <h3>Tipo</h3>
          <span>{{item.type}}</span>
        </div>
        <div>
          <h3>Empresa</h3>
          <span>{{item.company}}</span>
        </div>
        <div class="btn">
          <button mat-raised-button class="edit" (click)="editPlantao(item.id)">
            <mat-icon>edit</mat-icon>
            Editar plantão
          </button>
        </div>
        <div class="btn">
          <button mat-raised-button class="remove" (click)="removePlantao(item.id)">
            <mat-icon>delete</mat-icon>
            Remover plantão
          </button>
        </div>
        <div>
          <h3>Duração</h3>
          <span>{{item.duration}}h</span>
        </div>
        <div>
          <h3></h3>
          <span>{{item.other}}</span>
        </div>
        <div>
          <h3>Valor</h3>
          <span>R$ {{item.value|number: '1.2-2'}}</span>
        </div>
        <div class="btn">
          <button mat-raised-button class="eval" (click)="evalPlantao(item.id)" [disabled]="beforeStartDate(item.inicio)">
            <mat-icon>thumb_up</mat-icon>
            Avaliar plantão
          </button>
        </div>
        <div class="btn">
          <button mat-raised-button class="share" disabled>
            <mat-icon>medical_services</mat-icon>
            Compartilhar no Pega Plantão
          </button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
