mat-expansion-panel {
    margin: 10px;
}

mat-icon {
    vertical-align: -0.3rem;
}

.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.headers-align .mat-expansion-panel-header-description .finish {
    color: green;
}

.content {
    border-top: 1px solid gray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.content div {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.content div h3 {
    font-weight: bold;
}
.content div span {
    padding-left: 1rem;
}

.content div.btn {
    display: flex;
    justify-content: center;
}

.content div.btn mat-icon {
    vertical-align: -0.4rem;
}

.content div.btn .edit {
    background-color: rgb(150,150,240);
}

.content div.btn .remove {
    background-color: rgb(240,150,150);
}

.content div.btn .eval {
    background-color: rgb(240,250,150);
}

.content div.btn .share {
    background-color: rgb(200,200,200);
}

