<section class="title">
    <span><mat-icon>local_hospital</mat-icon>Novo Plantão</span>
    <button mat-mini-fab color="warn" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
</section>

<section class="content">
    <form #form="ngForm">
        <div class="cols2">
            <mat-form-field class="example-full-width" appearance="outline" required>
                <mat-label>Tipo de plantão</mat-label>
                <mat-select [(ngModel)]="plantao.type" name="type">
                    <mat-option *ngFor="let type of types" [value]="type.value" (click)="onChange(type.value)">
                        {{type.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div *ngIf="isEnable then thenEnable else elseEnable"></div>
            <ng-template #thenEnable>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Outros</mat-label>
                    <input matInput [(ngModel)]="plantao.other" name="other">
                </mat-form-field>
            </ng-template>
            <ng-template #elseEnable>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Outros</mat-label>
                    <input matInput [(ngModel)]="plantao.other" name="other" disabled>
                </mat-form-field>
            </ng-template>
        </div>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Local</mat-label>
            <input matInput [(ngModel)]="plantao.local" name="local" required>
        </mat-form-field>
        <div class="datetime">
            <mat-form-field appearance="outline">
                <mat-label>Data início</mat-label>
                <input matInput [matDatepicker]="dstart" readonly [(ngModel)]="plantao.dstart" name="dstart" required>
                <mat-datepicker-toggle matSuffix [for]="dstart"></mat-datepicker-toggle>
                <mat-datepicker #dstart></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Hora início</mat-label>
                <input matInput [ngxTimepicker]="hstart" [format]="24" readonly [(ngModel)]="plantao.hstart" name="hstart" required>
                <ngx-material-timepicker #hstart [appendToInput]="true" [theme]="balpas"></ngx-material-timepicker>
            </mat-form-field>
        </div>
        <div class="cols2">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Duração (h)</mat-label>
                <input matInput [(ngModel)]="plantao.duration" name="duration" required type="number" maxlength="2" min="1" max="24">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Valor</mat-label>
                <input matInput [(ngModel)]="plantao.value" name="value" required mask="separator.2" separatorLimit="10000" [allowNegativeNumbers]="false">
            </mat-form-field>
        </div>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Empresa</mat-label>
            <input matInput [(ngModel)]="plantao.company" name="company" required>
        </mat-form-field>
        <div class="buttons">
            <button mat-raised-button type="submit" class="add" [disabled]="form.form.invalid" (click)="onSubmit()">
                <mat-icon>add</mat-icon>
                Registrar plantão
            </button>
        </div>
    </form>
</section>
