  .remove-taxes-plantao .info {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .remove-taxes-plantao div {
    display: flex;
    justify-content: center;
  }

  .remove-taxes-plantao .button {
    display: flex;
    justify-content: space-between;
  }
  
  .remove-taxes-plantao .button button {
    margin-top: 10px;
  }
  
  .remove-taxes-plantao .button button mat-icon {
    vertical-align: -7px;
  }
  
  .remove-taxes-plantao .button .close {
    background-color: rgb(240, 150, 150);
  }
  
  .remove-taxes-plantao .button .del {
    background-color: rgb(220, 220, 140);
  }
  