<div>
    <mat-accordion class="headers-align">
      <mat-expansion-panel *ngFor="let item of data">
        <mat-expansion-panel-header class="right-aligned-header">
          <mat-panel-title>
            {{item.inicio|date: 'dd/MM/YYYY'}} - {{item.local}}
          </mat-panel-title>
          <mat-panel-description>
            <div *ngIf="item.note != null; then thenNote else elseNote"></div>
            <ng-template #thenNote>
              <div *ngIf="item.note; then thenValidNote else elseValidNote"></div>
              <ng-template #thenValidNote>
                <div class="finish">
                  <mat-icon>done</mat-icon>
                  Nota emitida
                </div>
              </ng-template>
              <ng-template #elseValidNote>
                <div class="pending">
                  <mat-icon>schedule</mat-icon>
                  Nota não emitida
                </div>
              </ng-template>
            </ng-template>
            <ng-template #elseNote>
              <div class="without">
                <mat-icon>clear</mat-icon>
                Sem nota
              </div>
            </ng-template>
            <div *ngIf="item.payment; then thenPayment else elsePayment"></div>
              <ng-template #thenPayment>
                <div class="finish">
                  <mat-icon>done</mat-icon>
                  Pagamento realizado
                </div>
              </ng-template>
              <ng-template #elsePayment>
                <div class="pending">
                  <mat-icon>schedule</mat-icon>
                  Pagamento não realizado
                </div>
              </ng-template>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="content">
          <div class="chart">
            <app-chart-financeiro [id]="item.id"></app-chart-financeiro>
          </div>
          <div class="btn">
            <button mat-raised-button class="attach" (click)="attachPlantao(item.id)">
              <mat-icon>attach_file</mat-icon>
              Documentos
            </button>
            <button mat-raised-button class="taxes" (click)="taxesPlantao(item.id)">
              <mat-icon>price_change</mat-icon>
              Impostos
            </button>
            <button mat-raised-button class="status" (click)="statusPayment(item.id)">
              <mat-icon>payments</mat-icon>
              Status do pagamento
            </button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
