.img {
    display: flex;
    justify-content: center;
}

.img img {
    height: 100px;
    margin-top: 5rem;
}

.reset {
    margin-top: 2rem;
    padding: 2rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(200,200,200);
    border-radius: 1rem;
}

.reset h1 {
    display: flex;
    justify-content: center;
}

.reset div {
    display: flex;
    flex-direction: column;
    background-color: rgb(200,200,200);
    width: 30%;
    padding: 2rem;
    border-radius: 1rem;
}

.reset form {
    display: flex;
    flex-direction: column;
    background-color: rgb(200,200,200);
    width: 100%;
}

.reset form button, .reset form a {
    margin-top: 1rem;
}