<section class="resource">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Buscar</mat-label>
            <input matInput>
        </mat-form-field>
    <div>
        <button mat-flat-button color="accent">
            <mat-icon>add</mat-icon>
            Nova fatura
        </button>
    </div>
</section>
<section class="content">
    <mat-accordion>
        
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              (Dezembro/2021) JORGE HENRIQUE MONTEIRO 
            </mat-panel-title>
            <mat-panel-description>
            <span><mat-icon>watch_later</mat-icon> Pendente</span>
            </mat-panel-description>
          </mat-expansion-panel-header>
          
          <div class="info">
            <span>Valor da fatura: R$ 380,56</span>
            <button mat-flat-button color="accent">
                Reenviar fatura por email
            </button>
            <button mat-flat-button color="warn">
                Definir como paga
            </button>
          </div>
        </mat-expansion-panel>
    

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            (Janeiro/2022) JORGE HENRIQUE MONTEIRO 
          </mat-panel-title>
          <mat-panel-description>
          <span><mat-icon>check</mat-icon> Paga</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
  
    </mat-accordion>

</section>
